:root{
  --background: #121212;
  --grayDark: #222222;
  --grayLight: #272727;
  --white: #EFEFEF;
  --whiteGradA: #AAAAAA;
  --whiteGradB: #BBBBBB;
  --whiteGradC: #CCCCCC;
  --errorRed: #FA1010;
  --errorDarkRed: #661111;
}


body {
  background-color: var(--background);
  color: white;
  margin: 0px;
  padding: 0px;
}

table {
    border-collapse: collapse;
    border: 0px solid white;
    color: white
  }


table.hour {
    background-color: #505050;
    color: white;
}

.error {
  font-family: consolas;
	color: var(--errorRed);
	font-size: 16px;
  border-radius: 3px;
  text-align: center;

	width: 95%;

	height: 20px;

	margin-top: 10px;
	border: 2px var(--errorRed) solid;
  padding: 5px;

	background: var(--errorDarkRed);
}

ul.topnav {
  font-family: consolas;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--grayDark);
  border: 4px var(--grayLight) solid;
  margin: 10px;
	border-radius: 5px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  padding: 17px 10px;
  position: relative;
  z-index: 1;
}

ul.topnav li.logo a {
    padding: 9px 10px
}

ul.topnav li a:hover{
  transition: color .35 ease-in-out;
  color: var(--grayLight);
}

ul.topnav li a:before {
  content: "";
  position: absolute;
  transition: opacity .35s ease-in-out;
  top:0; left: 0; right: 0; bottom: 0; z-index:-1;
}
ul.topnav li a:hover:before {
  opacity: 0;
}
ul.topnav li a:after {
  content: ""; opacity: 0;
  transition: opacity .35s ease-in-out;
  position: absolute;
  top:0; left: 0; right: 0; bottom: 0; z-index:-1;
  background: linear-gradient(to bottom, var(--whiteGradA), var(--whiteGradB), var(--whiteGradC));
}
ul.topnav li a:hover:after {
  opacity: 1;
}

/*ul.topnav li a:hover:not(.active) {
  background: linear-gradient(to bottom, var(--whiteGradA), var(--whiteGradB), var(--whiteGradC));
  transition: 0.4s;
}*/

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

ul.topnav h1 {
    line-height: 30px;
    margin: 0px;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.headerIcon {
  height: 30px;
  /*padding: 11px;*/
}

.logoBakalari{
  color: red;
}

.logoThing{
  color: green;
}

table.withoutOuterBorder {
    border-collapse: collapse;
    border-style: hidden;
}

table td, table th {
    border: 1px solid white;
    padding: 2px;
}

.center{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;

	
	padding: 15px;
	padding-top: 5px;
	border-radius: 5px;

	margin: none;

	background: var(--grayDark);	
	border: 4px var(--grayLight) solid;

	-webkit-box-shadow: 10px 10px 64px -26px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 64px -26px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 64px -26px rgba(0,0,0,0.75);

	font-family: consolas;
	color: var(--white);


}

.center h1{
	font-size: 35px;
	text-align: center;
}

.center label{
	font-size: 18px;
	margin: none;
	padding: none;
}

.center input{
	background: var(--grayDark);	
	border: 2px var(--grayLight) solid;
	width: 280px;
	
	border-radius: 3px;

	padding: 3px;
	margin: none;

	font-family: consolas;
	color: var(--white);
	font-size: 15px;
}

.center button{
	font-family: consolas;
	color: var(--white);
	font-size: 16px;
	border-radius: 3px;
  transition-duration: .25s;
  position: relative;

	width: 100%;

	height: 35px;

	margin-top: 10px;
	border: 2px var(--grayLight) solid;
	padding: 5px;

  background: transparent;
  z-index: 10;
}


.center button:hover{
  transition: color .35 ease-in-out;
  color: var(--grayLight);
  cursor: pointer;
}

.center button:before {
  content: "";
  position: absolute;
  transition: opacity .35s ease-in-out;
  top:0; left: 0; right: 0; bottom: 0; z-index:-1;
  border-radius: 3px;
}
.center button:hover:before {
  opacity: 0;
}
.center button:after {
  content: ""; opacity: 0;
  transition: opacity .35s ease-in-out;
  position: absolute;
  top:0; left: 0; right: 0; bottom: 0; z-index:-1;
  background: linear-gradient(to bottom, var(--whiteGradA), var(--whiteGradB), var(--whiteGradC));
  border-radius: 3px;
}
.center button:hover:after {
  opacity: 1;
}

.center hr{
	width: 90;
	border: 1px solid var(--grayLight);
	color: var(--grayLight);
	border-radius: 1px;
	margin-top: 15px;
}

.center a{
	font-family: consolas;
	color: var(--white);
	font-size: 16px;
	border-radius: 3px;
  transition-duration: .25s;
  position: relative;
  text-decoration: none;

	width: 100%;

	height: 35px;

	margin-top: 10px;
	border: 2px var(--grayLight) solid;
	padding: 5px;

  background: transparent;
  z-index: 10;
}


.center a:hover{
  transition: color .35 ease-in-out;
  color: var(--grayLight);
  cursor: pointer;
}

.center a:before {
  content: "";
  position: absolute;
  transition: opacity .35s ease-in-out;
  top:0; left: 0; right: 0; bottom: 0; z-index:-1;
  border-radius: 3px;
}
.center a:hover:before {
  opacity: 0;
}
.center a:after {
  content: ""; opacity: 0;
  transition: opacity .35s ease-in-out;
  position: absolute;
  top:0; left: 0; right: 0; bottom: 0; z-index:-1;
  background: linear-gradient(to bottom, var(--whiteGradA), var(--whiteGradB), var(--whiteGradC));
  border-radius: 3px;
}
.center a:hover:after {
  opacity: 1;
}